<ul class="list-group">
    <li class="list-group-item">
        @Html.ActionLink("Author Management", "Index", "AuthorManagement")
    </li>
    
    <li class="list-group-item">
        @Html.ActionLink("Category Management", "Index", "CategoryManagement")
    </li>
    
    <li class="list-group-item">
        @Html.ActionLink("Publisher Management", "Index", "PublisherManagement")
    </li>
</ul>